body {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(73, 141, 197);
  min-width: 100vw;
}

.board-row{
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  align-items: start;
  justify-items: center;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 2px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(235, 193, 160);
  border-radius: 2px;
  background-color:rgb(235, 193, 160);
  margin: 1px;
  font-size: 60px;
  font-weight: 700;
  color: #a5537c;
  box-shadow: 5px 5px  #475c86;
  text-decoration: dashed;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.status {
  font-weight: 600;
  font-size:30px;
  margin: 10px;
  color: white;
  text-shadow: 3px 3px  #475c86;
}
.App-link {
  color: #61dafb;
}