.App {
  text-align: center;
}

.board-row{
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  align-items: start;
  justify-items: center;
  grid-template-columns: 80px 80px 80px;
}

.square {
  width: 80px;
  height: 80px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width:800px){

  .square {
    width: 100%;
  }
}